@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap");

@import "./variables.scss";
@import "./utilities.scss";
@import "./home.scss";
@import "./cart.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    background: rgba(0, 0, 0, 0.9);
    color: white;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    white-space: nowrap;
}

button:focus {
    outline: none;
}

// Header

.header {
    width: 100%;
    padding-block: 0.5rem;

    // Why this? Because Image in the background

    position: absolute;
    z-index: 99;
    top: 0;
    background: linear-gradient(black, transparent);
}

.logo {
    width: 220px;
    height: 54px;
}

.shoppingCart {
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 9999px;

    position: relative;
}

.shoppingCart:hover {
    background: rgba(255, 255, 255, 0.2);
}

.shoppingCart::after {
    content: "0";
    width: 1.2rem;
    height: 1.2rem;
    background-color: $yellow;
    color: black;

    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 9999px;
    font-weight: bold;
}

// Footer

footer {
    background: black;
    padding: 0.75rem 2rem;

    .image {
        height: 3.5rem;
        width: 11.5rem;
    }

    ul {
        display: flex;
        gap: 0.75rem;
        list-style-type: none;

        svg {
            display: block;
            width: 1.85rem;
            height: 1.85rem;
        }

        a path {
            transition: $transition-1;
        }

        a:hover path {
            fill: $yellow;
        }
    }
}

@media (max-width: $mobile) {
    // Header

    .header {
        padding-block: 1rem;
    }

    .logo {
        width: 230px;
        height: 55px;
    }

    footer {
        .image {
            width: 9rem;
            height: 2.8rem;
        }

        ul {
            svg {
                width: 1.375rem;
                height: 1.375rem;
            }
        }
    }
}
