@import url("https://fonts.googleapis.com/css2?family=Montagu+Slab:opsz,wght@16..144,100..700&display=swap");

@import "./variables.scss";
@import "./utilities.scss";

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.15rem;
    white-space: nowrap;
}

button:focus {
    outline: none;
}

/* Utility Classes */

// Header

.header {
    width: 100%;
    padding-block: 0.5rem;
    position: absolute;
    z-index: 99;
    top: 0;
    background: linear-gradient(black, transparent);
}

.shoppingCart {
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 9999px;

    position: relative;
}

.shoppingCart:hover {
    background: rgba(255, 255, 255, 0.2);
}

.shoppingCart::after {
    content: "0";
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;

    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 9999px;
    font-weight: bold;
}

// Hero Section

.hero {
    background: url("/background.jpg");
    padding-top: 6.95rem !important;
}

.featuredProduct {
    background: rgba($color: #000000, $alpha: 0.75);
    border-radius: 10px;
    padding: 2rem;
    width: 85%;
    margin-inline: auto;

    display: flex;
    gap: 3rem;

    &__image {
        border-radius: 4px;
    }

    h2 {
        width: max-content;
    }

    .label {
        font-weight: 400;
        color: rgb(209, 209, 209);
        display: block;
        margin-top: 1.5rem;
    }

    &__right {
        display: flex;
        flex-direction: column;
    }

    .quantity {
        margin-top: 0.5rem;
        width: fit-content;
    }

    .weight {
        margin-top: 0.875rem;
    }

    .options {
        margin-top: auto;
        grid-template-columns: repeat(2, 1fr);
    }
}

// Products Section

.products-section {
    background: url("/background2.jpg");
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3.5rem;
}

.product {
    padding: 1.65rem;
    background: rgba($color: #000000, $alpha: 0.8);
    border-radius: 6px;
    color: white;

    .image {
        width: 100%;
        aspect-ratio: 1 / 1;
        margin-bottom: 1rem;

        img {
            border-radius: 6px;
        }
    }

    h3 {
        width: fit-content;
        font-size: 2.25rem;
        color: $light-yellow;
        margin-bottom: 0.5rem;
    }
}

// Testimonails Section

.testimonials-section {
    background: url("/background3.jpg");
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    column-gap: 2rem;

    margin-top: 4rem;
}

.testimonial {
    background: rgba($color: #0a0a07, $alpha: 0.8);
    border-radius: 6px;
    color: white;
    font-size: 1.15rem;

    padding: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;

    border: 4px solid $yellow;

    .image {
        position: absolute;
        left: 50%;
        top: -30px;
        transform: translateX(-50%);

        width: 60px;
        height: 60px;
        border: 4px solid $yellow;
        border-radius: 9999px;
    }

    p {
        margin-top: 1rem;
        text-align: center;
    }

    .name {
        display: inline-block;
        text-transform: uppercase;
        font-size: 1rem;
        color: yellow;
        font-weight: bold;

        margin-left: auto;
        margin-top: 1rem;
    }
}

.testimonial:first-child {
    grid-column: 1 / 3;
}

.testimonial:last-child {
    grid-column: 2 / 4;
}

// Footer

footer {
    background: black;
    padding: 0.75rem 2rem;

    .image {
        height: 3.5rem;
        width: 11.5rem;
    }

    ul {
        display: flex;
        gap: 0.75rem;

        svg {
            display: block;
            width: 1.85rem;
            height: 1.85rem;
        }

        a path {
            transition: $transition-1;
        }

        a:hover path {
            fill: $yellow;
        }
    }
}
