.header {
    width: 100%;
    padding-block: 0.5rem;
    position: absolute;
    z-index: 99;
    top: 0;
    background: linear-gradient(black, transparent);
}

.shoppingCart {
    cursor: pointer;
    padding: 0.75rem;
    border-radius: 9999px;

    position: relative;
}

.shoppingCart:hover {
    background: rgba(255, 255, 255, 0.2);
}

.shoppingCart::after {
    content: "0";
    width: 1.2rem;
    height: 1.2rem;
    background-color: white;

    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 9999px;
    font-weight: bold;
}
