$section-padding: 4.5rem;
$background-opacity: 0.85;
$ff-heading: "Montagu Slab", serif;

// Colors

$light-yellow: #fff3b2;
$yellow: #ffd80d;

// Transition

$transition-1: all 0.5s ease;

// Media Queries

$mobile: 600px;
