*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

/* Utility Classes */

.flex-f {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1280px;
    width: 82.5%;
    margin-inline: auto;
}

.dead-center {
    position: absolute; /* Might Not Work if parent is positioned relatively */
    left: 50%;
    transform: translateX(-50%);
}

.hidden {
    visibility: hidden;
}

.logo {
    width: 17rem;
}
